*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.cabeçalho {
    background-color: rgb(226, 43, 43);
    color:rgb(255, 251, 251);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-imagem{
    width: 20%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 40%;
}
.escola{
    background-image: linear-gradient( rgb(43, 46, 226), rgb(72, 103, 202));
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.escola-div-conteudo{
    width: 60%;
    
    }
    .escola-titulo{
        padding: 24px 0;
    }
    .estudante-imagem{
        width: 120px ;
    
    }
    
    .estudante-icone{
        width: 24px; ;
    }
    
    .estudante-div{
        text-align: center;
    }
    
    .estudante-div{
        text-align: center;
    }
    
    .estudante-título{
        text-align: center;
        padding: 20px 0;
    }
    
    .estudantes-todos{
        display: grid;
        grid-template-columns: 200% 200% 200% 200% 200%;
    }