*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.cabeçalho {
    background-color: rgb(226, 43, 43);
    color:rgb(255, 251, 251);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-imagem{
    width: 20%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.escola-imagem{
    width: 50%;
}
.escola{
    background-image: linear-gradient( rgb(43, 46, 226), rgb(72, 103, 202));
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.escola-div-conteudo{
    sobre a escola
    
    O prédio do Colégio foi inaugurado em 1924, para funcionar a Escola Normal de Ponta Grossa. Em 1939, passa a ser sede do Ginásio Regente Feijó. Caracteriza-se por ser um marco na paisagem urbana pela beleza de sua construção, marcada pelo estilo eclético, apresentando vestígios do estilo clássico e da art-noveau.
    
    Localização:Praça Barão do Rio Branco, 194 - CentroHorário de Visitação: segunda à sexta-feira em horário comercial.Entrada: GratuitaTelefone: (0**42) 3225-1741
    imagem-regente2
width: 35%;

}
.escola-titulo{
    padding: 24px 0;<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="sttyle.css">
    </head>
    <body>
        <header class="cabeçalho">
          <img class="cabeçalho-imagem" src="logo regente.png" alt="logo do regente feijó">
        <ul class="cabeçalho-lista">
            <li class="cabeçalho-lista-item">Escola</li>
            <li class="cabeçalho-lista-item">Estudante</li>
        </ul>
        </header>
        
        
    </body>
    </html>
    
    Style.css
}


.estudante-imagem{
    width: 120px ;

}

.estudante-icone{
    width: 24px; ;
}

.estudante-div{
    text-align: center;
}